<ion-header>
	<ion-toolbar>
		<ion-title>
			Ionic Blank
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
		<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		<agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
		<agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
	</agm-map>

	{{reponseService}}

</ion-content>