<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="images"></ion-icon>
      <ion-label>Producto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="carro">
      <ion-icon name="images"></ion-icon>
      <ion-label>Carro</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
