<ion-header>
	<ion-toolbar>
		<ion-title>
			Lugares turisticos <h1>{{cityName}}</h1>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<form (ngSubmit)="pushColombianSites()">

		<ion-item>
			<ion-label>Seleciona una ciudad</ion-label>

			<ion-select [(ngModel)]="citySelect" #assignedTo="ngModel" name="citySelect">
				<ion-select-option *ngFor="let city of citys" [value]="[city.name , city.slug]">{{ city.name }}</ion-select-option>
			</ion-select>

		</ion-item>

		<ion-item>
			<ion-label position="floating">Descripcion del lugar</ion-label>
			<ion-textarea required="true" [(ngModel)]="description" name="description"></ion-textarea>
		</ion-item>

		<ion-button class="sendBtn" expand="block" ion-button type="submit" block>Agregar</ion-button>
	</form>

	<ion-grid>
		<ion-row>
			<ion-col size="12" *ngFor="let site of colombianSites ; let i = index" class="esTestFor">
				<ion-card>
					<ion-card-header>
						<img src="./assets/img/{{site.slug}}.jpg" alt="{{site.name}}">
						<ion-card-subtitle>Conoce {{site.name}}</ion-card-subtitle>
						<ion-card-title>
							{{site.name}}
						</ion-card-title>
					</ion-card-header>

					<ion-card-content>
						{{site.description}}
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>