<ion-header>
	<ion-toolbar>
		<ion-title>
			Paises
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	
	
	<ion-card *ngFor="let countrie of latinCountries">
		<ion-card-header>
			<ion-card-subtitle>
				{{countrie.population}}
			</ion-card-subtitle>
			<ion-card-title>
				{{countrie.name}}
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
				{{countrie.capilal}}
		</ion-card-content>
	</ion-card>

</ion-content>
