.mainHeader {
    &__logo{

    }
    &__menu{}
    &__nav{
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
            justify-content: flex-end;
            li{
                font-size: 22px;
                list-style: none;
                a{
                    padding: 10px;
                    color: $black;
                    &:hover{
                        opacity: 0.7;
                        @include transition();
                    }
                }
            }
        }
    }
}