<ion-tabs>

	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="tab1">
			<ion-icon name="flash"></ion-icon>
			<ion-label>Paises</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="tab2">
			<ion-icon name="apps"></ion-icon>
			<ion-label>Turismo</ion-label>
		</ion-tab-button>

	</ion-tab-bar>

</ion-tabs>
