.degradado{
    /* DAVID */
    background: linear-gradient(to bottom, blue, white);
}

/* ↓↓↓ DAVID FONSECA ↓↓↓ */
.imagen1{
    width: 300px;
    height: 200px;
}
.imagen2{
    width: 200%;
    height: 100%;
}

/* ↓↓↓ OSCAR FERNANDO SUAREZ ↓↓↓ */
.transform-rotate{
    width: 150px;
    height: 80px;
    background-color: blue;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
/* ↓↓↓ OSCAR FERNANDO SUAREZ ↓↓↓ */
.radial-gradient{
    width: 100px;
    height: 100px;
    background-image: radial-gradient(elipse);
}

/* ↓↓↓ Katerine Mendoza ↓↓↓ */
.transform-scale {
    transform: scale(2,3);
}

/* ↓↓↓ Wilmer ↓↓↓ */
.display {
    display: block;
}
.display-ib {
    display: inline-block;
}

/* ↓↓↓ Daniel Ramos ↓↓↓ */
.outline {
    outline: 1px dotted green;
}

/* ↓↓↓ Jose Camargo ↓↓↓ */
.transform-scale {
    transform: skew(10deg , 10deg);
}

/* ↓↓↓ Jesús Salas ↓↓↓ */
.ta-c {text-align: center;}
.ta-r {text-align: right;}
.ta-l {text-align: left;}
.ta-j {text-align: justify;}

/* ↓↓↓ Javier Moreno ↓↓↓ */
.transform-translate {
    transform: translate(50px , 100px);
    -ms-transform: translate(50px , 100px);
    -webkit-transform: translate(50px , 100px);
    -o-transform: translate(50px , 100px);
}

/* ↓↓↓ Karen Lorena ↓↓↓ */
.text-shadow {
    text-shadow: 3px 6px 10px #ccc;
}

/* ↓↓↓ Brandon ↓↓↓ */
.colors {
    border: 1px solid hsla(12, 1, 2, 1);
    color: rgb(96, 35, 153);
}

/* ↓↓↓ Cristian ↓↓↓ */
.border {
    border: 1px solid hsla(12, 1, 2, 1);
}

/* ↓↓↓ Cristian ↓↓↓ */
.box-shadow {
    box-shadow: 3px 3px 3px rgb(216, 204, 32);
}

.border-radius{
    border-radius: 15px;
}


.border-img{
    border-image: url('site.png') 3px;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/19a1b216f31a5d18a054aef242ccacab.jpg);
    background-size: cover;
    background-position: center;
}

.container h1{
    font-size: 100px;
    color: white;
    text-shadow: 4px 5px 1px #42424285;
    margin: 0;
    margin-bottom: 30px;
}

.btn{
    border: none;
    outline: none;
    max-width: 150px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    color: white;
    background-color: rgba(163, 163, 163, 0.7);
    transition: all ease-in 0.3s;
    background-origin: 5px;
}
.btn:hover{
    color: rgb(48, 48, 48);
    background-color: white;
}