.grayBox{
    color: $white;
    padding: 10px;
    border-radius: 10px;
    background-color: #706b64;
    &__image{
        img{
            width: 100%;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
    }
}

.img100{
    width: 100%;
}

.listaRoja{
    color: red;
    list-style: disc;
}

.blackBox{
    color: #fff;
    margin-bottom: 20px;
    background-color: #202328; 
    p{
        margin: 0;
    }
}

.btnRed{
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aa5151+1,7c0203+100 */
    background: #aa5151; /* Old browsers */
    background: -moz-linear-gradient(top, #aa5151 1%, #7c0203 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #aa5151 1%,#7c0203 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #aa5151 1%,#7c0203 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa5151', endColorstr='#7c0203',GradientType=0 ); /* IE6-9 */
}